body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

/* ProductList.css */
.header {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #d4e6f9;
    color: #000;
}
.logo>h1>img{
    width: 256px;
    height: auto;
}


.section {
    padding: 20px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}


.product-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
    padding: 8px 0px;
}

.product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-details {
    padding: 20px;
}

.product-details h3 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}

.product-details p {
    margin: 10px 0;
    color: #666;
}

.product-price {
    font-size: 1.2rem;
    color: #007bff;
    font-weight: bold;
}

.product-price .original-price {
    text-decoration: line-through;
    color: #999;
    margin-right: 5px;
}

.product-price .discounted-price {
    color: #d9534f;
}

.product-quantity {
    font-size: 1rem;
    color: #555;
}

/* ProductList.css */
.product-card img {
    width: 200px;
    height: 250px;
    object-fit: cover; /* 이미지 비율을 유지하며 고정된 크기에 맞춤 */
}
